/* Sidebar */

#Sidebar-menu>.side-open-button {
    cursor: pointer;
}
#Sidebar-menu>.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
}
#Sidebar-menu>.sidebar-container {
    position: fixed;
    top: 0;
    left: -480px;
    width: 480px;
    height: 100%;
    background-color: white;
    z-index: 1000;
    box-shadow: 4px 0 12px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
}
#Sidebar-menu>.sidebar-container.open{
    left: 0;
}
#Sidebar-menu .menu-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5% 15% 0 15%;
    /* padding-left: 15%; */
}
#Sidebar-menu .menu-section-title {
    font-size: 25px;
    font-weight: bold;
    padding: 5% 0 0 0;
}
#Sidebar-menu .menu-item {
    font-size: 1.3em;
    padding-left: 30px;
}
#Sidebar-menu .sidebar-back-button {
    align-self: flex-start;
    margin: 5% 0 0 5%;
    cursor: pointer;
}