/* header */
#header {
    position: relative;
    width: 1220px;
    height: 156px;
}

#header .menu {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 48px;
}

#header .logo {
    position: absolute;
    top: 52px;
    left: 50%;
}

#header .function {
    position: absolute;
    display: flex;
    gap: 10px;
    top: 14px;
    right: 0px;
}

#header .padding-minus {
    padding: 0 0 0 10px;
}