/* header */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 0 0;
}
#header .function>span
{
    padding: 9px;
}
#header .function>.padding-minus {
    padding-right: 0px;
}
.menu, .logo, .function {
    display: flex;
    align-items: center;
}