/* src/components/Header.css */

#register-header .header {
    width: 100%;
    background-color: white;
    padding: 24px;
  }
  
  #register-header .header-title {
    font-size: 2.5rem; /* 크게 표시 */
    font-weight: bold;
    text-align: left;
    color: #1f2937; /* dark-gray */
    margin: 0;
  }
  
  #register-header .header-divider {
    margin-top: 8px;
    height: 4px;
    width: 100%;
    background-color: #d1d5db; /* light-gray */
    border-radius: 9999px; /* 끝 둥글게 */
  }
  