/* 기본 세팅 */ /* 네이버 참고 했습니다 */ 
/* 모바일은 따로 페이지를 만들거나 @media 사용하더라~ */
/* width는 max-width: 1280px로 고정 시키고 */
/* 컴포넌트의 위치는 부모 position을 relative로 자식들은 absolute로 하드코딩 하더라~ */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 공통 부분 */
.inline-block {
    display: inline-block;
}
.block { 
    display: block;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
    text-underline-offset: 3px;
}

/* 모든 루트 페이지의 루트 div의 className으로 주기 !!필수 */
.default-root-value {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 30px;
}