/* header */
#header {
  position: relative;
  width: 1220px;
  height: 230px;
}

#header h1 {
  font-size:16px;
}

#header .menu {
  position: absolute;
  top: 43px;
  left: 0px;
  width: 48px;
}

#header .logo {
  position: absolute;
  top: 50px;
  left: 45%;
  border: 1px solid #000;
  padding: 30px 25px;
  cursor: pointer;
}

#header > .function {
  position: absolute;
  display: flex;
  gap: 10px;
  top: 43px;
  right: 0px;
}

#header .padding-minus {
  padding: 0 0 0 10px;
}

#header .user-section {
  position: absolute;
  top: 43px;
  right: 150px;
}
#header .user-section > .function button {
  border: none;
  background-color: #fff;
  padding: 0 2px;
  cursor: pointer;
}